<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="|Generator ${generator.name}|"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<form action="#" th:action="@{/generator}" th:object="${generator}" method="post">
    <label>Name
        <input type="text" th:field="*{name}"/>
    </label>
    <br>
    <label>Count
        <input type="number" th:field="*{count}"/>
    </label>
    <br>
    <input type="submit" value="Update"/>
</form>
</body>
</html>
