<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${simulation.name}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<h1 th:text="|Simulation ${simulation.name}|"/>
<div th:each="garden : ${simulation.gardens}">
    <h2 th:text="${garden.name}"/>
    <div th:each="generator : ${garden.generators}">
        <form action="#" th:action="@{/simulation}" th:object="${buy}" method="post">
            <p th:text="${generator.name}"/>
            <input type="hidden" name="what" id="what" th:value="${generator.name}">
            <label for="arg">Generator</label><input type="number" name="arg" id="arg" th:value="${generator.count}">
            <input type="submit">
        </form>
    </div>
</div>
</body>
</html>
